rvm:
  - 2.1.0
  - 2.1.1
  - 2.1.2
  - 2.1.3
  - 2.1.4
  - 2.1.5
  - 2.1.6
  - 2.1.7
  - 2.1.8
  - 2.1.9
  - 2.1.10
  - 2.2.0
  - 2.2.1
  - 2.2.2
  - 2.2.3
  - 2.2.4
  - 2.2.5
  - 2.2.6
  - 2.3.0
  - 2.3.1
  - 2.3.2
  - 2.3.3
  - 2.4.0
  - jruby-head
before_install:
  - gem install bundler
  - gem update bundler
env:
  - ACTIVE_MODEL_VERSION='~> 3.2.0'
  - ACTIVE_MODEL_VERSION='~> 4.0'
gemfile: Gemfile
notifications:
  recipients:
    - jeremy@tregunna.ca
