---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/actions/5f60f07958388d26dc063c30?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2239.2
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1601303496725'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5f60f07958388d26dc063c30","idMemberCreator":"5e679b808e6e8828784b30e1","data":{"board":{"id":"5e93ba98614ac22d22f085c4","name":"IT
        2","shortLink":"y1TF9GTa"},"customField":{"id":"5f60f07958388d26dc063c2d","name":"Test"}},"type":"createCustomField","date":"2020-09-15T16:48:57.454Z","limits":{},"appCreator":null,"display":{"translationKey":"action_create_custom_field","entities":{"board":{"type":"board","id":"5e93ba98614ac22d22f085c4","text":"IT
        2","shortLink":"y1TF9GTa"},"customField":{"type":"customField","id":"5f60f07958388d26dc063c2d","text":"Test"},"memberCreator":{"type":"member","id":"5e679b808e6e8828784b30e1","username":"hoppertest","text":"Hopper
        Test"}}},"memberCreator":{"id":"5e679b808e6e8828784b30e1","username":"hoppertest","activityBlocked":false,"avatarHash":null,"avatarUrl":null,"fullName":"Hopper
        Test","idMemberReferrer":null,"initials":"HT","nonPublic":{},"nonPublicAvailable":true}}'
  recorded_at: Mon, 28 Sep 2020 14:31:36 GMT
recorded_with: VCR 5.1.0
