---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/customFields/5fa7589441b04c2cf1fc773a/options/5fa7bb27621fcf64876dcc85?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2278.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1604828306711'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5fa7bb27621fcf64876dcc85","idCustomField":"5fa7589441b04c2cf1fc773a","value":{"text":"failed"},"color":"none","pos":68608}'
  recorded_at: Sun, 08 Nov 2020 09:38:26 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/customFields/5fa7589441b04c2cf1fc773a?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2278.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1604828314375'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5fa7589441b04c2cf1fc773a","idModel":"5fa757c864083f6464d25346","modelType":"board","fieldGroup":"ce6921c7aa203a1b0f1dea647d288d55b91293b0e755a47c682b01a8075a374c","display":{"cardFront":true},"name":"State","pos":16384,"options":[{"id":"5fa7589441b04c2cf1fc773b","idCustomField":"5fa7589441b04c2cf1fc773a","value":{"text":"Initial"},"color":"none","pos":19456},{"id":"5fa7589441b04c2cf1fc773c","idCustomField":"5fa7589441b04c2cf1fc773a","value":{"text":"Pending"},"color":"none","pos":35840},{"id":"5fa7589441b04c2cf1fc773d","idCustomField":"5fa7589441b04c2cf1fc773a","value":{"text":"Approve"},"color":"none","pos":52224}],"type":"list","limits":{"customFieldOptions":{"perField":{"status":"ok","disableAt":50,"warnAt":45}}},"isSuggestedField":false}'
  recorded_at: Sun, 08 Nov 2020 09:38:34 GMT
- request:
    method: get
    uri: https://api.trello.com/1/customfields/5fa7589441b04c2cf1fc773a/options?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2278.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1604828315081'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"color":"none","pos":19456,"_id":"5fa7589441b04c2cf1fc773b","value":{"text":"Initial"}},{"color":"none","pos":35840,"_id":"5fa7589441b04c2cf1fc773c","value":{"text":"Pending"}},{"color":"none","pos":52224,"_id":"5fa7589441b04c2cf1fc773d","value":{"text":"Approve"}}]'
  recorded_at: Sun, 08 Nov 2020 09:38:35 GMT
recorded_with: VCR 5.1.0
