---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/organizations/5e93ba154634282b6df23bcc?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2224.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1600183347855'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e93ba154634282b6df23bcc","name":"integrationtest11","displayName":"Integration
        Test 1","descData":null,"website":null,"teamType":"engineering-it","desc":"This
        is a team for doing integration tests","url":"https://trello.com/integrationtest11","logoHash":null,"logoUrl":null,"products":[],"powerUps":[]}'
  recorded_at: Tue, 15 Sep 2020 15:22:28 GMT
- request:
    method: get
    uri: https://api.trello.com/1/organizations/5e93ba154634282b6df23bcc/boards/all?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2224.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1600183348575'
      X-Trello-Actual-Fastget-Path:
      - fast
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"IT 100","desc":"","descData":null,"closed":false,"idOrganization":"5e93ba154634282b6df23bcc","idEnterprise":null,"limits":null,"pinned":null,"shortLink":"GkoW5NpN","powerUps":[],"dateLastActivity":"2020-06-14T17:28:16.166Z","idTags":[],"datePluginDisable":null,"creationMethod":null,"ixUpdate":null,"enterpriseOwned":false,"idBoardSource":"5e94eaf386374970d06e4c89","id":"5ee65e305081b1306530df45","starred":false,"url":"https://trello.com/b/GkoW5NpN/it-100","prefs":{"permissionLevel":"org","hideVotes":false,"voting":"org","comments":"org","invitations":"members","selfJoin":false,"cardCovers":false,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"background":"grey","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#838C91","backgroundBottomColor":"#838C91","backgroundTopColor":"#838C91","canBePublic":true,"canBeEnterprise":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"subscribed":false,"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"dateLastView":"2020-06-14T17:28:41.881Z","shortUrl":"https://trello.com/b/GkoW5NpN","templateGallery":null,"premiumFeatures":[],"memberships":[{"id":"5ee65e305081b1306530df71","idMember":"5e679b808e6e8828784b30e1","memberType":"admin","unconfirmed":false,"deactivated":false}]},{"name":"IT
        101","desc":"testing board create","descData":null,"closed":false,"idOrganization":"5e93ba154634282b6df23bcc","idEnterprise":null,"limits":null,"pinned":null,"shortLink":"kcBzm0pP","powerUps":[],"dateLastActivity":null,"idTags":[],"datePluginDisable":null,"creationMethod":null,"ixUpdate":null,"enterpriseOwned":false,"idBoardSource":null,"id":"5ee65e31325f0d0a10726e6e","starred":false,"url":"https://trello.com/b/kcBzm0pP/it-101","prefs":{"permissionLevel":"org","hideV[...]
