---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/boards?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: UTF-8
      string: name=IT+100&idOrganization=5e93ba154634282b6df23bcc&prefs_permissionLevel=org&prefs_voting=org&prefs_comments=org&prefs_invitations=members&prefs_selfJoin=false&prefs_cardCovers=false&prefs_background=grey&defaultLabels=false&defaultLists=false&idBoardSource=5e94eaf386374970d06e4c89&keepFromSource=cards&desc=testing+board+create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2126.1
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1592155696298'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5ee65e305081b1306530df45","name":"IT 100","desc":"","descData":null,"closed":false,"idOrganization":"5e93ba154634282b6df23bcc","idEnterprise":null,"pinned":false,"url":"https://trello.com/b/GkoW5NpN/it-100","shortUrl":"https://trello.com/b/GkoW5NpN","prefs":{"permissionLevel":"org","hideVotes":false,"voting":"org","comments":"org","invitations":"members","selfJoin":false,"cardCovers":false,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"background":"grey","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#838C91","backgroundBottomColor":"#838C91","backgroundTopColor":"#838C91","canBePublic":true,"canBeEnterprise":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"limits":{}}'
  recorded_at: Sun, 14 Jun 2020 17:28:16 GMT
recorded_with: VCR 5.1.0
