---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/5e93ba98614ac22d22f085c4?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2092.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1589732409771'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e93ba98614ac22d22f085c4","name":"IT 2","desc":"","descData":null,"closed":false,"idOrganization":"5e93ba154634282b6df23bcc","idEnterprise":null,"pinned":false,"url":"https://trello.com/b/y1TF9GTa/it-2","shortUrl":"https://trello.com/b/y1TF9GTa","labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"prefs":{"permissionLevel":"org","hideVotes":false,"voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"background":"5e9093e2134e6987494c7ca8","backgroundImage":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/original/2300ad88b61e46629c4063e0095bf986/photo-1586462175816-c0e709898f01","backgroundImageScaled":[{"width":140,"height":93,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/140x93/08d5092270be6b5bb40247b7a7f5a924/photo-1586462175816-c0e709898f01.jpg"},{"width":256,"height":171,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/256x171/08d5092270be6b5bb40247b7a7f5a924/photo-1586462175816-c0e709898f01.jpg"},{"width":480,"height":320,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x320/08d5092270be6b5bb40247b7a7f5a924/photo-1586462175816-c0e709898f01.jpg"},{"[...]
- request:
    method: get
    uri: https://api.trello.com/1/boards/5e93ba98614ac22d22f085c4/labelnames?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2092.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1589732410574'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}'
  recorded_at: Sun, 17 May 2020 16:20:10 GMT
recorded_with: VCR 5.1.0
