---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/cards?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: UTF-8
      string: name=Test+Trello%3A%3ACard.create&desc=testing+card+create&idList=5e93bac014d40e501ee46b8d&idMembers=5e679b808e6e8828784b30e1&idLabels=5e93ba987669b2254983d69d%2C5e93ba987669b2254983d69e&pos=top&due=2020-12-22+01%3A59%3A00+UTC&dueComplete=false&idCardSource=5e93ba665c58c44a46cb2ef9&keepFromSource=comments
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2052.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1586743335436'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e93c827fb102a6f40c5fa2b","checkItemStates":[],"closed":false,"dateLastActivity":"2020-04-13T02:02:15.308Z","desc":"testing
        card create","descData":{"emoji":{}},"dueReminder":null,"idBoard":"5e93ba98614ac22d22f085c4","idList":"5e93bac014d40e501ee46b8d","idMembersVoted":[],"idShort":3,"idAttachmentCover":null,"idLabels":["5e93ba987669b2254983d69d","5e93ba987669b2254983d69e"],"manualCoverAttachment":false,"name":"Test
        Trello::Card.create","pos":16384,"shortLink":"iK30ThVk","isTemplate":false,"dueComplete":false,"due":"2020-12-22T01:59:00.000Z","email":null,"shortUrl":"https://trello.com/c/iK30ThVk","url":"https://trello.com/c/iK30ThVk/3-test-trellocardcreate","cover":{"idAttachment":null,"color":null,"idUploadedBackground":null,"size":"normal","brightness":"light"},"idMembers":["5e679b808e6e8828784b30e1"],"labels":[{"id":"5e93ba987669b2254983d69d","idBoard":"5e93ba98614ac22d22f085c4","name":"","color":"green"},{"id":"5e93ba987669b2254983d69e","idBoard":"5e93ba98614ac22d22f085c4","name":"","color":"orange"}],"attachments":[],"idChecklists":[],"badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":true,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"checkItemsEarliestDue":null,"comments":1,"attachments":0,"description":true,"due":"2020-12-22T01:59:00.000Z","dueComplete":false},"subscribed":true,"stickers":[],"limits":{}}'
  recorded_at: Mon, 13 Apr 2020 02:02:15 GMT
recorded_with: VCR 5.1.0
