---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/cards?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: UTF-8
      string: name=Test+Trello%3A%3ACard.create+3&desc&idList=5e93bac014d40e501ee46b8d&idMembers&idLabels&pos&due=2020-12-22T01%3A59%3A00%2B00%3A00&dueComplete=false&idCardSource&keepFromSource=all
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2092.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1589700129484'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5ec0e621fe539f18d8d81980","checkItemStates":[],"closed":false,"dateLastActivity":"2020-05-17T07:22:09.373Z","desc":"","descData":{"emoji":{}},"dueReminder":null,"idBoard":"5e93ba98614ac22d22f085c4","idList":"5e93bac014d40e501ee46b8d","idMembersVoted":[],"idShort":5,"idAttachmentCover":null,"idLabels":[],"manualCoverAttachment":false,"name":"Test
        Trello::Card.create 3","pos":4096,"shortLink":"WJXNVYCk","isTemplate":false,"dueComplete":false,"due":"2020-12-22T01:59:00.000Z","email":null,"labels":[],"shortUrl":"https://trello.com/c/WJXNVYCk","url":"https://trello.com/c/WJXNVYCk/5-test-trellocardcreate-3","cover":{"idAttachment":null,"color":null,"idUploadedBackground":null,"size":"normal","brightness":"light"},"idMembers":[],"idChecklists":[],"badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"checkItemsEarliestDue":null,"comments":0,"attachments":0,"description":false,"due":"2020-12-22T01:59:00.000Z","dueComplete":false},"subscribed":false,"attachments":[],"stickers":[],"limits":{}}'
  recorded_at: Sun, 17 May 2020 07:22:09 GMT
recorded_with: VCR 5.1.0
