---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/organizations/5e93ba154634282b6df23bcc?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.249073.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '374'
      X-Server-Time:
      - '1703176514079'
      Atl-Traceid:
      - 2657ec781cdb473c8bf366160b072dff
    body:
      encoding: UTF-8
      string: '{"id":"5e93ba154634282b6df23bcc","name":"integrationtest11","displayName":"Integration
        Test 1","desc":"This is a team for doing integration tests","descData":null,"url":"https://trello.com/w/integrationtest11","website":null,"teamType":"engineering-it","logoHash":null,"logoUrl":null,"offering":"trello.free","products":[],"powerUps":[]}'
  recorded_at: Thu, 21 Dec 2023 16:35:14 GMT
- request:
    method: get
    uri: https://api.trello.com/1/organizations/5e93ba154634282b6df23bcc/boards?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.249073.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '373'
      X-Server-Time:
      - '1703176515208'
      X-Trello-Actual-Fastget-Path:
      - fast
      Atl-Traceid:
      - 7d19915e1b454303a878aed0fc6cbef6
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5ee65e305081b1306530df45","nodeId":"ari:cloud:trello::board/workspace/5e93ba154634282b6df23bcc/5ee65e305081b1306530df45","name":"IT
        100","desc":"","descData":null,"closed":false,"dateClosed":null,"idOrganization":"5e93ba154634282b6df23bcc","idEnterprise":null,"limits":{"attachments":{"perBoard":{"status":"ok","disableAt":36000,"warnAt":28800},"perCard":{"status":"ok","disableAt":1000,"warnAt":800}},"boards":{"totalMembersPerBoard":{"status":"ok","disableAt":1600,"warnAt":1280},"totalAccessRequestsPerBoard":{"status":"ok","disableAt":4000,"warnAt":3200}},"cards":{"openPerBoard":{"status":"ok","disableAt":5000,"warnAt":4000},"openPerList":{"status":"ok","disableAt":5000,"warnAt":4000},"totalPerBoard":{"status":"ok","disableAt":2000000,"warnAt":1600000},"totalPerList":{"status":"ok","disableAt":1000000,"warnAt":800000}},"checklists":{"perBoard":{"status":"ok","disableAt":1800000,"warnAt":1440000},"perCard":{"status":"ok","disableAt":500,"warnAt":400}},"checkItems":{"perChecklist":{"status":"ok","disableAt":200,"warnAt":160}},"customFields":{"perBoard":{"status":"ok","disableAt":50,"warnAt":40}},"customFieldOptions":{"perField":{"status":"ok","disableAt":50,"warnAt":40}},"labels":{"perBoard":{"status":"ok","disableAt":1000,"warnAt":800}},"lists":{"openPerBoard":{"status":"ok","disableAt":500,"warnAt":400},"totalPerBoard":{"status":"ok","disableAt":3000,"warnAt":2400}},"stickers":{"perCard":{"status":"ok","disableAt":70,"warnAt":56}},"reactions":{"perAction":{"status":"ok","disableAt":900,"warnAt":720},"uniquePerAction":{"status":"ok","disableAt":17,"warnAt":14}}},"pinned":false,"starred":false,"url":"https://trello.com/b/GkoW5NpN/it-100","prefs":{"permissionLevel":"org","hideVotes":false,"voting":"org","comments":"org","invitations":"members","selfJoin":false,"cardCovers":false,"cardCounts":false,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"hiddenPluginBoardButtons":[],"switcherViews":[{"viewType":"Board","enabled":true},{"viewType":"Table","enabled":true},{"viewType":"Calendar","enabled":false},{"viewType":"Dashboard","enabled":false},{"viewType":"Timeline","enabled":false},{"viewType":"Map","enabled":false}],"background":"grey","backgroundColor":"#838C91","backgroundImage":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundImageScaled":null,"backgroundBottomColor":"#838C91","backgroundTopColor":"#838C91","canBePublic":true,"canBeEnterprise":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"shortLink":"GkoW5NpN","subscribed":false,"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":"","green_dark":"","yellow_dark":"","orange_dark":"","red_dark":"","purple_dark":"","blue_dark":"","sky_dark":"","lime_dark":"","pink_dark":"","black_dark":"","green_light":"","yellow_light":"","orange_light":"","red_light":"","purple_light":"","blue_light":"","sky_light":"","lime_light":"","pink_light":"","black_light":""},"powerUps":[],"dateLastActivity":"2020-06-14T17:28:16.166Z","dateLastView":"2023-11-11T15:18:19.369Z","shortUrl":"https://trello.com/b/GkoW5NpN","idTags":[],"datePluginDisable":null,"creationMethod":null,"ixUpdate":"5","templateGallery":null,"enterpriseOwned":false,"idBoardSource":"5e94eaf386374970d06e4c89","premiumFeatures":["additionalBoardBackgrounds","additionalStickers","customBoardBackgrounds","customEmoji","customStickers","plugins"],"idMemberCreator":null,"memberships":[{"idMember":"5e679b808e6e8828784b30e1","memberType":"admin","unconfirmed":false,"deactivated":false,"id":"5ee65e305081b1306530df71"}]},{"id":"5ee65e31325f0d0a10726e6e","nodeId":"ari:cloud:trello::board/workspace/5e93ba154634282b6df23bcc/5ee65e31325f0d0a10726e6e","name":"IT
        101","desc":"testing board create","descData":null,"closed":false,"dateClosed":null,"idOrganization":"5e93ba154634282b6df23bcc","idEnterprise":null,"limits":{"attachments":{"perBoard":{"status":"ok","disableAt":36000,"warnAt":28800},"perCard":{"status":"ok","disableAt":1000,"warnAt":800}},"boards":{"totalMember[...]
