---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/hoppertest?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2192.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1597930880266'
      Content-Type:
      - application/json; charset=utf-8
      X-Logging-Id:
      - 7a01fdce-4547-49f0-9059-3b05dad7c9ba
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e679b808e6e8828784b30e1","bio":"ab","bioData":{"emoji":{}},"confirmed":true,"memberType":"normal","username":"hoppertest","aaId":"5e679b1f84dcfc0cf391264e","activityBlocked":false,"avatarHash":null,"avatarUrl":null,"fullName":"Hopper
        Test","idEnterprise":null,"idEnterprisesDeactivated":[],"idMemberReferrer":null,"idPremOrgsAdmin":[],"initials":"HT","nonPublic":{},"nonPublicAvailable":true,"products":[],"url":"https://trello.com/hoppertest","status":"disconnected","aaBlockSyncUntil":null,"aaEmail":null,"aaEnrolledDate":null,"avatarSource":"none","credentialsRemovedCount":0,"domainClaimed":null,"email":"jx4554+test@gmail.com","gravatarHash":"18853624ee4456423b9dbeb0c30559c5","idBoards":["5e679be40c407034b479459c","5e70f5bed3f34a49e2f11409","5e93ba403f1ab3603ba81a09","5e93ba98614ac22d22f085c4","5e94eaf386374970d06e4c89","5e94ee7357ac8a3edc2b2145","5e94f5ded016b22c2437c13c","5ec7e46414a49e3f65847c27","5ee65e305081b1306530df45","5ee65e31325f0d0a10726e6e","5ee65f5fa64d6f2a7aee514c"],"idOrganizations":["5e93ba154634282b6df23bcc","5eb427016b5a464a74803f1c"],"idEnterprisesAdmin":[],"loginTypes":["atlassian"],"marketingOptIn":{"optedIn":true,"date":"2020-03-10T13:52:08.829Z"},"messagesDismissed":[{"_id":"5e93ba17f0caa581d8856a95","name":"team-join-cta-banner-5e93ba154634282b6df23bcc","count":1,"lastDismissed":"2020-04-13T01:02:15.807Z"},{"_id":"5eb4270e982a411bcc25991e","name":"team-join-cta-banner-5eb427016b5a464a74803f1c","count":1,"lastDismissed":"2020-05-07T15:19:42.837Z"}],"oneTimeMessagesDismissed":["create-first-board","close-menu-of-first-board","board-background-prompt","team-template-picker-5e93ba154634282b6df23bcc","your-items-on-home","ad-bc-prompt-upgrade-board-more-collection"],"prefs":{"privacy":{"fullName":"public","avatar":"public"},"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false,"locale":"en-US"},"trophies":[],"uploadedAvatarHash":null,"uploadedAvatarUrl":null,"premiumFeatures":[],"isAaMastered":true,"siftDecision":null,"ixUpdate":"481","limits":{"boards":{"totalPerMember":{"status":"ok","disableAt":4500,"warnAt":4050}},"orgs":{"totalPerMember":{"status":"ok","disableAt":850,"warnAt":765}}}}'
  recorded_at: Thu, 20 Aug 2020 13:41:20 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/5e679b808e6e8828784b30e1/organizations?filter=all&key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2192.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1597930881268'
      X-Trello-Actual-Fastget-Path:
      - slow
      Content-Type:
      - application/json; charset=utf-8
      X-Logging-Id:
      - 7a01fdce-4547-49f0-9059-3b05dad7c9ba
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5e93ba154634282b6df23bcc","name":"integrationtest11","displayName":"Integration
        Test 1","descData":null,"website":null,"promotions":[],"enterpriseJoinRequest":{},"allAdminsEnabled":true,"teamType":"engineering-it","desc":"This
        is a team for doing integration tests","idMemberCreator":"5e679b808e6e8828784b30e1","invited":false,"invitations":[],"prefs":{"permissionLevel":"private","orgInviteRestrict":[],"boardInviteRestrict":"any","externalMembersDisabled":false,"associatedDomain":null,"googleAppsVersion":1,"boardVisibilityRestrict":{"private":"org","org":"org","enterprise":"org","public":"org"},"boardDeleteRestrict":{"private":"org","org":"org","enterprise":"org","public":"org"},"attachmentRestrictions":null},"powerUps":[],"products":[],"url":"https://trello.com/integrationtest11","logoHash":null,"logoUrl":null,"premiumFeatures":[],"idEnterprise":null,"availableLicenseCount":null,"maximumLicenseCount":null,"ixUpdate":"111","limits":{"orgs":{"totalMembersPerOrg":{"status":"ok","disableAt":4000,"warnAt":3600},"freeBoardsPerOrg":{"status":"warn","disableAt":10,"warnAt":3,"count":7}}},"billableMemberCount":1,"activeBillableMemberCount":1,"memberships":[{"id":"5e93ba154634282b6df23bcd","idMember":"5e679b808e6e8828784b30e1","memberType":"admin","unconfirmed":false,"deactivated":false}],"billableCollaboratorCount":0,"idBoards":["5e93ba98614ac22d22f085c4","5e94eaf386374970d06e4c89","5e94ee7357ac8a3edc2b2145","5e94f5ded016b22c2437c13c","5ee65e305081b1306530df45","5ee65e31325f0d0a10726e6e","5ee65f5fa64d6f2a7aee514c"]},{"id":"5eb427016b5a464a74803f1c","name":"integrationtest21","displayName":"Integration
        Test 2","descData":null,"website":null,"promotions":[],"enterpriseJoinRequest":{},"allAdminsEnabled":true,"teamType":"engineering-it","desc":"","idMemberCreator":"5e679b808e6e8828784b30e1","invited":f[...]
