---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/5e93ba403f1ab3603ba81a09?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2092.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1589728505260'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e93ba403f1ab3603ba81a09","name":"IT 1","desc":"This is a test
        board called IT 1","descData":{"emoji":{}},"closed":false,"idOrganization":"5e93ba154634282b6df23bcc","idEnterprise":null,"pinned":false,"url":"https://trello.com/b/0zx7ive1/it-1","shortUrl":"https://trello.com/b/0zx7ive1","labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"prefs":{"permissionLevel":"org","hideVotes":false,"voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"background":"5e92397e6ab226460dadee8e","backgroundImage":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/original/c7d6b0f6d7ea90a4629be964056c1e3e/photo-1586596436497-8d6f8d1d921f","backgroundImageScaled":[{"width":67,"height":100,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/67x100/44097ec60dd1549b6b98bf64d0e86eae/photo-1586596436497-8d6f8d1d921f.jpg"},{"width":128,"height":192,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/128x192/44097ec60dd1549b6b98bf64d0e86eae/photo-1586596436497-8d6f8d1d921f.jpg"},{"width":320,"height":480,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/320x480/44097ec60dd1549b6b98bf64d0e86eae/photo-1586596436497-8d6f8d1d921f.jpg"},{[...]
- request:
    method: get
    uri: https://api.trello.com/1/boards/5e93ba403f1ab3603ba81a09/cards/5e93ba665c58c44a46cb2ef9?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2092.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1589728506091'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e93ba665c58c44a46cb2ef9","checkItemStates":[],"closed":false,"dateLastActivity":"2020-04-14T14:38:43.496Z","desc":"","descData":null,"dueReminder":null,"idBoard":"5e93ba403f1ab3603ba81a09","idList":"5e93ba4fe51ee2602ec671af","idMembersVoted":[],"idShort":1,"idAttachmentCover":null,"idLabels":[],"manualCoverAttachment":false,"name":"C1","pos":65535,"shortLink":"L3xcFw09","isTemplate":false,"dueComplete":false,"due":null,"email":null,"labels":[],"shortUrl":"https://trello.com/c/L3xcFw09","url":"https://trello.com/c/L3xcFw09/1-c1","cover":{"idAttachment":null,"color":null,"idUploadedBackground":null,"size":"normal","brightness":"light"},"idMembers":[],"badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":true,"fogbugz":"","checkItems":4,"checkItemsChecked":0,"checkItemsEarliestDue":null,"comments":2,"attachments":0,"description":false,"due":null,"dueComplete":false},"subscribed":true,"idChecklists":["5e95c5f3daac161b4347b8d4","5e95c85b88759187b565c632","5e95caf358bf2b41808434e9"]}'
  recorded_at: Sun, 17 May 2020 15:15:06 GMT
recorded_with: VCR 5.1.0
