---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/organizations?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: UTF-8
      string: name=integrationtest98&displayName=Integration+Test+98&desc=This+is+a+team+for+doing+integration+tests.
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2224.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1600182775875'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5f60d9f72c17b23dbb2d9d79","name":"integrationtest98","displayName":"Integration
        Test 98","descData":{"emoji":{}},"website":null,"teamType":null,"desc":"This
        is a team for doing integration tests.","url":"https://trello.com/integrationtest98","logoHash":null,"logoUrl":null,"products":[],"powerUps":[],"idMemberCreator":"5e679b808e6e8828784b30e1","limits":{}}'
  recorded_at: Tue, 15 Sep 2020 15:12:56 GMT
recorded_with: VCR 5.1.0
