---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/5e93ba665c58c44a46cb2ef9?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2052.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1586787236035'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e93ba665c58c44a46cb2ef9","checkItemStates":[],"closed":false,"dateLastActivity":"2020-04-13T01:51:59.982Z","desc":"","descData":null,"dueReminder":null,"idBoard":"5e93ba403f1ab3603ba81a09","idList":"5e93ba4fe51ee2602ec671af","idMembersVoted":[],"idShort":1,"idAttachmentCover":null,"idLabels":[],"manualCoverAttachment":false,"name":"C1","pos":65535,"shortLink":"L3xcFw09","isTemplate":false,"dueComplete":false,"due":null,"email":null,"labels":[],"shortUrl":"https://trello.com/c/L3xcFw09","url":"https://trello.com/c/L3xcFw09/1-c1","cover":{"idAttachment":null,"color":null,"idUploadedBackground":null,"size":"normal","brightness":"light"},"idMembers":[],"badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":true,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"checkItemsEarliestDue":null,"comments":1,"attachments":0,"description":false,"due":null,"dueComplete":false},"subscribed":true,"idChecklists":[]}'
  recorded_at: Mon, 13 Apr 2020 14:13:56 GMT
- request:
    method: get
    uri: https://api.trello.com/1/cards/5e93ba665c58c44a46cb2ef9/actions?filter=all&key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2052.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1586787236924'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"5e93c5bfcc0a4380d9bff508","idMemberCreator":"5e679b808e6e8828784b30e1","data":{"text":"This
        is a test comment","card":{"id":"5e93ba665c58c44a46cb2ef9","name":"C1","idShort":1,"shortLink":"L3xcFw09"},"board":{"id":"5e93ba403f1ab3603ba81a09","name":"IT
        1","shortLink":"0zx7ive1"},"list":{"id":"5e93ba4fe51ee2602ec671af","name":"L1"}},"type":"commentCard","date":"2020-04-13T01:51:59.993Z","limits":{"reactions":{"perAction":{"status":"ok","disableAt":1000,"warnAt":900},"uniquePerAction":{"status":"ok","disableAt":17,"warnAt":16}}},"memberCreator":{"id":"5e679b808e6e8828784b30e1","username":"hoppertest","activityBlocked":false,"avatarHash":null,"avatarUrl":null,"fullName":"Hopper
        Test","idMemberReferrer":null,"initials":"HT","nonPublic":{},"nonPublicAvailable":true}},{"id":"5e93bae1bcd84b602dec2ee9","idMemberCreator":"5e679b808e6e8828784b30e1","data":{"old":{"name":"Test
        Card 1"},"card":{"name":"C1","id":"5e93ba665c58c44a46cb2ef9","idShort":1,"shortLink":"L3xcFw09"},"board":{"id":"5e93ba403f1ab3603ba81a09","name":"IT
        1","shortLink":"0zx7ive1"},"list":{"id":"5e93ba4fe51ee2602ec671af","name":"L1"}},"type":"updateCard","date":"2020-04-13T01:05:37.260Z","limits":{},"memberCreator":{"id":"5e679b808e6e8828784b30e1","username":"hoppertest","activityBlocked":false,"avatarHash":null,"avatarUrl":null,"fullName":"Hopper
        Test","idMemberReferrer":null,"initials":"HT","nonPublic":{},"nonPublicAvailable":true}},{"id":"5e93ba665c58c44a46cb2efa","idMemberCreator":"5e679b808e6e8828784b30e1","data":{"card":{"id":"5e93ba665c58c44a46cb2ef9","name":"Test
        Card 1","idShort":1,"shortLink":"L3xcFw09"},"list":{"id":"5e93ba4fe51ee2602ec671af","name":"IT
        LIST 1"},"board":{"id":"5e93ba403f1ab3603ba81a09","name":"IT 1","shortLink":"0zx7ive1"}},"type":"createCard","date":"2020-04-13T01:03:34.299Z","limits":{},"memberCreator":{"id":"5e679b808e6e8828784b30e1","username":"hoppertest","activityBlocked":false,"avatarHash":null,"avatarUrl":null,"fullName":"Hopper
        Test","idMemberReferrer":null,"initials":"HT","nonPublic":{},"nonPublicAvailable":true}}]'
  recorded_at: Mon, 13 Apr 2020 14:13:57 GMT
recorded_with: VCR 5.1.0
