---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/checklists?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: UTF-8
      string: name=C2&idCard=5e94fd9443f25a7263b165d0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2213.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1599241297441'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5f527c51adecdd18331874d5","name":"C2","idCard":"5e94fd9443f25a7263b165d0","pos":32768,"idBoard":"5e94eaf386374970d06e4c89","checkItems":[],"limits":{}}'
  recorded_at: Fri, 04 Sep 2020 17:41:37 GMT
recorded_with: VCR 5.1.0
