---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/lists/5f52526ebda8ea4a96445dbf?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2213.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1599233705292'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5f52526ebda8ea4a96445dbf","name":"L4 - Changed","closed":false,"pos":16383.75,"idBoard":"5e94eaf386374970d06e4c89"}'
  recorded_at: Fri, 04 Sep 2020 15:35:05 GMT
- request:
    method: get
    uri: https://api.trello.com/1/lists/5f52526ebda8ea4a96445dbf/actions?filter=all&key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2213.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1599233706008'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5f525e064142911546eeb728","idMemberCreator":"5e679b808e6e8828784b30e1","data":{"old":{"name":"L4"},"list":{"name":"L4
        - Changed","id":"5f52526ebda8ea4a96445dbf"},"board":{"id":"5e94eaf386374970d06e4c89","name":"IT
        3","shortLink":"VLS2p3fb"}},"type":"updateList","date":"2020-09-04T15:32:22.459Z","limits":{},"memberCreator":{"id":"5e679b808e6e8828784b30e1","username":"hoppertest","activityBlocked":false,"avatarHash":null,"avatarUrl":null,"fullName":"Hopper
        Test","idMemberReferrer":null,"initials":"HT","nonPublic":{},"nonPublicAvailable":true}},{"id":"5f52526ebda8ea4a96445dc1","idMemberCreator":"5e679b808e6e8828784b30e1","data":{"list":{"id":"5f52526ebda8ea4a96445dbf","name":"L4"},"board":{"id":"5e94eaf386374970d06e4c89","name":"IT
        3","shortLink":"VLS2p3fb"}},"type":"createList","date":"2020-09-04T14:42:54.267Z","limits":{},"memberCreator":{"id":"5e679b808e6e8828784b30e1","username":"hoppertest","activityBlocked":false,"avatarHash":null,"avatarUrl":null,"fullName":"Hopper
        Test","idMemberReferrer":null,"initials":"HT","nonPublic":{},"nonPublicAvailable":true}}]'
  recorded_at: Fri, 04 Sep 2020 15:35:06 GMT
recorded_with: VCR 5.1.0
