---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/5e93ba665c58c44a46cb2ef9?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2054.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1586871973048'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e93ba665c58c44a46cb2ef9","checkItemStates":[],"closed":false,"dateLastActivity":"2020-04-13T01:51:59.982Z","desc":"","descData":null,"dueReminder":null,"idBoard":"5e93ba403f1ab3603ba81a09","idList":"5e93ba4fe51ee2602ec671af","idMembersVoted":[],"idShort":1,"idAttachmentCover":null,"idLabels":[],"manualCoverAttachment":false,"name":"C1","pos":65535,"shortLink":"L3xcFw09","isTemplate":false,"dueComplete":false,"due":null,"email":null,"labels":[],"shortUrl":"https://trello.com/c/L3xcFw09","url":"https://trello.com/c/L3xcFw09/1-c1","cover":{"idAttachment":null,"color":null,"idUploadedBackground":null,"size":"normal","brightness":"light"},"idMembers":[],"badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":true,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"checkItemsEarliestDue":null,"comments":1,"attachments":0,"description":false,"due":null,"dueComplete":false},"subscribed":true,"idChecklists":[]}'
  recorded_at: Tue, 14 Apr 2020 13:46:13 GMT
- request:
    method: post
    uri: https://api.trello.com/1/cards/5e93ba665c58c44a46cb2ef9/actions/comments?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: UTF-8
      string: text=Hello%2C+world%21
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2054.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1586871975371'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e95bea7d7c8171b7b8257ea","idMemberCreator":"5e679b808e6e8828784b30e1","data":{"text":"Hello,
        world!","textData":{"emoji":{}},"card":{"id":"5e93ba665c58c44a46cb2ef9","name":"C1","idShort":1,"shortLink":"L3xcFw09"},"board":{"id":"5e93ba403f1ab3603ba81a09","name":"IT
        1","shortLink":"0zx7ive1"},"list":{"id":"5e93ba4fe51ee2602ec671af","name":"L1"}},"type":"commentCard","date":"2020-04-14T13:46:15.210Z","limits":{"reactions":{"perAction":{"status":"ok","disableAt":1000,"warnAt":900},"uniquePerAction":{"status":"ok","disableAt":17,"warnAt":16}}},"display":{"translationKey":"action_comment_on_card","entities":{"contextOn":{"type":"translatable","translationKey":"action_on","hideIfContext":true,"idContext":"5e93ba665c58c44a46cb2ef9"},"card":{"type":"card","hideIfContext":true,"id":"5e93ba665c58c44a46cb2ef9","shortLink":"L3xcFw09","text":"C1"},"comment":{"type":"comment","text":"Hello,
        world!"},"memberCreator":{"type":"member","id":"5e679b808e6e8828784b30e1","username":"hoppertest","text":"Hopper
        Test"}}},"entities":[{"type":"member","id":"5e679b808e6e8828784b30e1","username":"hoppertest","text":"Hopper
        Test"},{"type":"text","text":"on","hideIfContext":true,"idContext":"5e93ba665c58c44a46cb2ef9"},{"type":"card","hideIfContext":true,"id":"5e93ba665c58c44a46cb2ef9","shortLink":"L3xcFw09","text":"C1"},{"type":"comment","text":"Hello,
        world!"}],"memberCreator":{"id":"5e679b808e6e8828784b30e1","username":"hoppertest","activityBlocked":false,"avatarHash":null,"avatarUrl":null,"fullName":"Hopper
        Test","idMemberReferrer":null,"initials":"HT","nonPublic":{},"nonPublicAvailable":true}}'
  recorded_at: Tue, 14 Apr 2020 13:46:15 GMT
recorded_with: VCR 5.1.0
