---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/actions/61faa73dd180eb86947af0fd/list?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.111614.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '374'
      X-Server-Time:
      - '1643817645931'
      Content-Type:
      - application/json; charset=utf-8
      Atl-Traceid:
      - 9a52105231902ee1
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e93bac014d40e501ee46b8d","name":"L1","closed":false,"pos":65535,"softLimit":null,"creationMethod":null,"idBoard":"5e93ba98614ac22d22f085c4","limits":{"cards":{"openPerList":{"status":"ok","disableAt":5000,"warnAt":4000},"totalPerList":{"status":"ok","disableAt":1000000,"warnAt":800000}}},"subscribed":false}'
  recorded_at: Wed, 02 Feb 2022 16:00:46 GMT
recorded_with: VCR 6.0.0
