---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/5e94f5ded016b22c2437c13c?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2055.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1586912590821'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e94f5ded016b22c2437c13c","name":"IT 5","desc":"","descData":null,"closed":false,"idOrganization":"5e93ba154634282b6df23bcc","idEnterprise":null,"pinned":false,"url":"https://trello.com/b/RybNrdNM/it-5","shortUrl":"https://trello.com/b/RybNrdNM","labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"prefs":{"permissionLevel":"org","hideVotes":false,"voting":"members","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"background":"5e93f31519e59f41122a7f4f","backgroundImage":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/original/38b75fa5aaab2d13a6f8eab4b9016390/photo-1586696037912-43cfc1f854af","backgroundImageScaled":[{"width":140,"height":79,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/140x79/61d1b8df81dfa16a5c3695bbac867ff9/photo-1586696037912-43cfc1f854af.jpg"},{"width":256,"height":144,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/256x144/61d1b8df81dfa16a5c3695bbac867ff9/photo-1586696037912-43cfc1f854af.jpg"},{"width":480,"height":270,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x270/61d1b8df81dfa16a5c3695bbac867ff9/photo-1586696037912-43cfc1f854af.jpg"},{"[...]
- request:
    method: get
    uri: https://api.trello.com/1/lists/5e95d1b07f2ff83927319128?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2055.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1586912591436'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e95d1b07f2ff83927319128","name":"L2","closed":false,"pos":131071,"idBoard":"5e94f5ded016b22c2437c13c"}'
  recorded_at: Wed, 15 Apr 2020 01:03:11 GMT
- request:
    method: get
    uri: https://api.trello.com/1/cards/5e95d1b4f43f9a06497f17f7?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2055.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '297'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '97'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '197'
      X-Server-Time:
      - '1586912592111'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e95d1b4f43f9a06497f17f7","checkItemStates":[],"closed":false,"dateLastActivity":"2020-04-15T01:00:17.587Z","desc":"","descData":null,"dueReminder":null,"idBoard":"5e94ee7357ac8a3edc2b2145","idList":"5e94ee7727940f28ba1ce4e5","idMembersVoted":[],"idShort":2,"idAttachmentCover":null,"idLabels":[],"manualCoverAttachment":false,"name":"C2","pos":81919,"shortLink":"DeJYDbq0","isTemplate":false,"dueComplete":false,"due":null,"email":null,"labels":[],"shortUrl":"https://trello.com/c/DeJYDbq0","url":"https://trello.com/c/DeJYDbq0/2-c2","cover":{"idAttachment":null,"color":null,"idUploadedBackground":null,"size":"normal","brightness":"light"},"idMembers":[],"idChecklists":[],"badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"checkItemsEarliestDue":null,"comments":0,"attachments":0,"description":false,"due":null,"dueComplete":false},"subscribed":false}'
  recorded_at: Wed, 15 Apr 2020 01:03:12 GMT
- request:
    method: put
    uri: https://api.trello.com/1/cards/5e95d1b4f43f9a06497f17f7/idBoard?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: UTF-8
      string: value=5e94f5ded016b22c2437c13c&idList=5e95d1b07f2ff83927319128
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2055.0
      X-Trello-Env[...]
