---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/5e95d1b4f43f9a06497f17f7?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.242759.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Db-Query-Time-Interval-Ms:
      - '600000'
      X-Rate-Limit-Db-Query-Time-Max:
      - '7200000'
      X-Rate-Limit-Db-Query-Time-Remaining:
      - '7199990'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '374'
      X-Server-Time:
      - '1699726691750'
      Atl-Traceid:
      - 5442e51c04ce42f5aa01bfb53445cc31
    body:
      encoding: UTF-8
      string: '{"id":"5e95d1b4f43f9a06497f17f7","badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":false,"start":null,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"checkItemsEarliestDue":null,"comments":0,"attachments":3,"description":false,"due":null,"dueComplete":false},"checkItemStates":[],"closed":false,"dueComplete":false,"dateLastActivity":"2023-11-11T18:14:08.574Z","desc":"","descData":null,"due":null,"dueReminder":null,"email":null,"idBoard":"5e94f5ded016b22c2437c13c","idChecklists":[],"idList":"5e95d1b07f2ff83927319128","idMembers":[],"idMembersVoted":[],"idShort":2,"idAttachmentCover":"","labels":[],"idLabels":[],"manualCoverAttachment":false,"name":"C2","pos":16384,"shortLink":"DeJYDbq0","shortUrl":"https://trello.com/c/DeJYDbq0","start":null,"subscribed":false,"url":"https://trello.com/c/DeJYDbq0/2-c2","cover":{"idAttachment":null,"color":null,"idUploadedBackground":null,"size":"normal","brightness":"light","idPlugin":null},"isTemplate":false,"cardRole":null}'
  recorded_at: Sat, 11 Nov 2023 18:18:11 GMT
- request:
    method: post
    uri: https://api.trello.com/1/cards/5e95d1b4f43f9a06497f17f7/attachments?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-045b3ab4e226f744d8d7119fa63ad0fb\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"add_and_remove_attachment_spec.rb\"\r\nContent-Length:
        1672\r\nContent-Type: application/x-ruby\r\nContent-Transfer-Encoding: binary\r\n\r\nrequire
        'spec_helper'\n\nRSpec.describe 'Trell::Card add and remove attachment' do\n
        \ include IntegrationHelpers\n\n  before { setup_trello }\n\n  describe '#add_attachment'
        do\n    it 'can success add an attachment(file) on a card', focus: true do\n
        \     cassette_name = Trello.http_client == \"rest-client\" ? \"can_add_a_file_on_a_card\"
        : \"can_add_a_file_on_a_card_with_farady\"\n      VCR.use_cassette(cassette_name)
        do\n        card = Trello::Card.find('5e95d1b4f43f9a06497f17f7')\n        file
        = File.new('spec/integration/card/add_and_remove_attachment_spec.rb', 'r')\n\n
        \       response = card.add_attachment(file)\n        expect(response.code).to
        eq(200)\n        body = JSON.parse(response.body)\n        expect(body['name']).to
        eq('add_and_remove_attachment_spec.rb')\n      end\n    end[...]
