---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/5e95d1b4f43f9a06497f17f7?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2055.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1586957595926'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e95d1b4f43f9a06497f17f7","checkItemStates":[],"closed":false,"dateLastActivity":"2020-04-15T13:21:27.473Z","desc":"","descData":null,"dueReminder":null,"idBoard":"5e94f5ded016b22c2437c13c","idList":"5e95d1b07f2ff83927319128","idMembersVoted":[],"idShort":2,"idAttachmentCover":"5e970a563812b3075bb192f1","idLabels":[],"manualCoverAttachment":false,"name":"C2","pos":16384,"shortLink":"DeJYDbq0","isTemplate":false,"dueComplete":false,"due":null,"email":null,"labels":[],"shortUrl":"https://trello.com/c/DeJYDbq0","url":"https://trello.com/c/DeJYDbq0/2-c2","cover":{"idAttachment":"5e970a563812b3075bb192f1","color":null,"idUploadedBackground":null,"size":"normal","brightness":"light","scaled":[{"_id":"5e970a573812b3075bb1930e","id":"5e970a573812b3075bb1930e","scaled":false,"url":"https://trello-attachments.s3.amazonaws.com/5e95d1b4f43f9a06497f17f7/70x50/f3c672acdd52be2ccff69bd3127fe575/hello.png","bytes":2380,"height":50,"width":70},{"_id":"5e970a573812b3075bb1930f","id":"5e970a573812b3075bb1930f","scaled":false,"url":"https://trello-attachments.s3.amazonaws.com/5e95d1b4f43f9a06497f17f7/250x150/f3c672acdd52be2ccff69bd3127fe575/hello.png","bytes":12261,"height":150,"width":250},{"_id":"5e970a573812b3075bb19310","id":"5e970a573812b3075bb19310","scaled":true,"url":"https://trello-attachments.s3.amazonaws.com/5e95d1b4f43f9a06497f17f7/149x84/f3c672acdd52be2ccff69bd3127fe575/hello.png","bytes":6486,"height":84,"width":149},{"[...]
- request:
    method: get
    uri: https://api.trello.com/1/cards/5e95d1b4f43f9a06497f17f7/attachments?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2055.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1586957596956'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"5e97098ce0299f221eb40820","bytes":607,"date":"2020-04-15T13:18:04.290Z","edgeColor":null,"idMember":"5e679b808e6e8828784b30e1","isUpload":true,"mimeType":null,"name":"add_and_remove_attachment_spec.rb","previews":[],"url":"https://trello-attachments.s3.amazonaws.com/5e94f5ded016b22c2437c13c/5e95d1b4f43f9a06497f17f7/fc3be6b2d42de442b1ef1dea31669b6b/add_and_remove_attachment_spec.rb","pos":16384},{"id":"5e970a563812b3075bb192f1","bytes":92147,"date":"2020-04-15T13:21:26.794Z","edgeColor":null,"idMember":"5e679b808e6e8828784b30e1","isUpload":true,"mimeType":null,"name":"hello.png","previews":[{"id":"5e970a573812b3075bb1930e","_id":"5e970a573812b3075bb1930e","scaled":false,"url":"https://trello-attachments.s[...]
- request:
    method: delete
    uri: https://api.trello.com/1/cards/5e95d1b4f43f9a06497f17f7/attachments/5e970a563812b3075bb192f1?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2055.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '97'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '297'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '197'
      X-Server-Time:
      - '1586957598387'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"limits":{}}'
  recorded_at: Wed, 15 Apr 2020 13:33:18 GMT
recorded_with: VCR 5.1.0
