---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/actions/61faa73dd180eb86947af0fd/card?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.111614.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '374'
      X-Server-Time:
      - '1643817509671'
      Content-Type:
      - application/json; charset=utf-8
      Atl-Traceid:
      - 8af5e6fa0ddce319
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5f4f98b06183211be96855cb","address":null,"checkItemStates":[],"closed":false,"coordinates":null,"creationMethod":null,"dateLastActivity":"2022-02-02T15:46:05.573Z","desc":"testing
        card create","descData":null,"dueReminder":null,"idBoard":"5e93ba98614ac22d22f085c4","idLabels":["5e93ba987669b2254983d69d","5e93ba987669b2254983d69e"],"idList":"5e93bac014d40e501ee46b8d","idMembersVoted":[],"idShort":6,"idAttachmentCover":null,"locationName":null,"manualCoverAttachment":false,"name":"Test
        Trello::Card.create","pos":2048,"shortLink":"JlpJt3gF","isTemplate":false,"cardRole":null,"dueComplete":false,"due":null,"email":null,"shortUrl":"https://trello.com/c/JlpJt3gF","staticMapUrl":null,"start":null,"url":"https://trello.com/c/JlpJt3gF/6-test-trellocardcreate","cover":{"idAttachment":null,"color":null,"idUploadedBackground":null,"size":"normal","brightness":"light","idPlugin":null},"idMembers":["5e679b808e6e8828784b30e1"],"limits":{"attachments":{"perCard":{"status":"ok","disableAt":1000,"warnAt":800}},"checklists":{"perCard":{"status":"ok","disableAt":500,"warnAt":400}},"stickers":{"perCard":{"status":"ok","disableAt":70,"warnAt":56}}},"labels":[{"id":"5e93ba987669b2254983d69d","idBoard":"5e93ba98614ac22d22f085c4","name":"","color":"green"},{"id":"5e93ba987669b2254983d69e","idBoard":"5e93ba98614ac22d22f085c4","name":"","color":"orange"}],"idChecklists":[],"badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":true,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"checkItemsEarliestDue":null,"comments":3,"attachments":0,"description":true,"due":null,"dueComplete":false,"start":null},"subscribed":true}'
  recorded_at: Wed, 02 Feb 2022 15:58:29 GMT
recorded_with: VCR 6.0.0
