---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/lists/5e94eafdf553d46ea525faa7?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2213.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1599234386744'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e94eafdf553d46ea525faa7","name":"L1","closed":false,"pos":65535,"idBoard":"5e94eaf386374970d06e4c89"}'
  recorded_at: Fri, 04 Sep 2020 15:46:26 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/lists/5e94eafdf553d46ea525faa7/cards?filter=open&key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2213.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '97'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '297'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '197'
      X-Server-Time:
      - '1599234388140'
      X-Trello-Actual-Fastget-Path:
      - fast
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5e94fd9443f25a7263b165d0","checkItemStates":null,"closed":false,"dateLastActivity":"2020-09-04T15:44:57.808Z","desc":"testing
        card update!","descData":{"emoji":{}},"dueReminder":null,"idBoard":"5e94eaf386374970d06e4c89","idList":"5e94eafdf553d46ea525faa7","idMembersVoted":[],"idShort":2,"idAttachmentCover":null,"idLabels":["5e94eaf37669b225494161c7"],"manualCoverAttachment":false,"name":"Test
        Trello::Card.update!","pos":16384,"shortLink":"xx9My9vC","isTemplate":false,"badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":true,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"checkItemsEarliestDue":null,"comments":0,"attachments":0,"description":true,"due":"2020-12-22T01:59:00.000Z","dueComplete":false,"start":null},"dueComplete":false,"due":"2020-12-22T01:59:00.000Z","idChecklists":[],"idMembers":["5e679b808e6e8828784b30e1"],"labels":[{"id":"5e94eaf37669b225494161c7","idBoard":"5e94eaf386374970d06e4c89","name":"","color":"orange"}],"shortUrl":"https://trello.com/c/xx9My9vC","start":null,"subscribed":true,"url":"https://trello.com/c/xx9My9vC/2-test-trellocardupdate","cover":{"idAttachment":null,"color":null,"idUploadedBackground":null,"size":"normal","brightness":"light"}}]'
  recorded_at: Fri, 04 Sep 2020 15:46:28 GMT
[...]
- request:
    method: post
    uri: https://api.trello.com/1/lists/5e94eafdf553d46ea525faa7/moveAllCards?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: UTF-8
      string: idBoard=5e94eaf386374970d06e4c89&idList=5e94fa1248c5e41ad0464a7f
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2213.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '295'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '95'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '195'
      X-Server-Time:
      - '1599234389589'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5e94fd9443f25a7263b165d0","idBoard":"5e94eaf386374970d06e4c89","idList":"5e94fa1248c5e41ad0464a7f","pos":16384}]'
  recorded_at: Fri, 04 Sep 2020 15:46:29 GMT
[...]
