---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/labels/5e70f5be7669b225494e4fff?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2278.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1604842339225'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e70f5be7669b225494e4fff","idBoard":"5e70f5bed3f34a49e2f11409","name":"","color":"blue"}'
  recorded_at: Sun, 08 Nov 2020 13:32:19 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/5e70f5bed3f34a49e2f11409?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2278.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1604842339873'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e70f5bed3f34a49e2f11409","name":"test-2","desc":"","descData":null,"closed":false,"idOrganization":null,"idEnterprise":null,"pinned":false,"url":"https://trello.com/b/ffMqaSv6/test-2","shortUrl":"https://trello.com/b/ffMqaSv6","prefs":{"permissionLevel":"private","hideVotes":false,"voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"background":"5e705a90ccc1582054bd05a8","backgroundImage":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/original/f16308fb2cc42dba6c3f8993f9369c4e/photo-1584303185213-423f6965a646","backgroundImageScaled":[{"width":67,"height":100,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/67x100/1171f09a47dcfcd82a11dc2cb5b6c611/photo-1584303185213-423f6965a646.jpg"},{"width":128,"height":192,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/128x192/1171f09a47dcfcd82a11dc2cb5b6c611/photo-1584303185213-423f6965a646.jpg"},{"width":320,"height":480,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/320x480/1171f09a47dcfcd82a11dc2cb5b6c611/photo-1584303185213-423f6965a646.jpg"},{[...]
