---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/actions/61faa73dd180eb86947af0fd/board?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.111614.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '374'
      X-Server-Time:
      - '1643817616469'
      Content-Type:
      - application/json; charset=utf-8
      Atl-Traceid:
      - 8927791bbd7ca38c
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e93ba98614ac22d22f085c4","name":"IT 2","desc":"","descData":null,"closed":false,"dateClosed":null,"idOrganization":"5e93ba154634282b6df23bcc","shortLink":"y1TF9GTa","powerUps":[],"dateLastActivity":"2022-02-02T15:46:05.569Z","idTags":[],"datePluginDisable":null,"creationMethod":null,"idBoardSource":null,"idMemberCreator":"5e679b808e6e8828784b30e1","idEnterprise":null,"pinned":false,"starred":true,"url":"https://trello.com/b/y1TF9GTa/it-2","shortUrl":"https://trello.com/b/y1TF9GTa","enterpriseOwned":false,"premiumFeatures":["additionalBoardBackgrounds","additionalStickers","customBoardBackgrounds","customEmoji","customStickers","plugins"],"ixUpdate":"121","limits":{"attachments":{"perBoard":{"status":"ok","disableAt":36000,"warnAt":28800},"perCard":{"status":"ok","disableAt":1000,"warnAt":800}},"boards":{"totalMembersPerBoard":{"status":"ok","disableAt":1600,"warnAt":1280},"totalAccessRequestsPerBoard":{"status":"ok","disableAt":4000,"warnAt":3200}},"cards":{"openPerBoard":{"status":"ok","disableAt":5000,"warnAt":4000},"openPerList":{"status":"ok","disableAt":5000,"warnAt":4000},"totalPerBoard":{"status":"ok","disableAt":2000000,"warnAt":1600000},"totalPerList":{"status":"ok","disableAt":1000000,"warnAt":800000}},"checklists":{"perBoard":{"status":"ok","disableAt":1800000,"warnAt":1440000},"perCard":{"status":"ok","disableAt":500,"warnAt":400}},"checkItems":{"perChecklist":{"status":"ok","disableAt":200,"warnAt":160}},"customFields":{"perBoard":{"status":"ok","disableAt":50,"warnAt":40}},"customFieldOptions":{"perField":{"status":"ok","disableAt":50,"warnAt":40}},"labels":{"perBoard":{"status":"ok","disableAt":1000,"warnAt":800}},"lists":{"openPerBoard":{"status":"ok","disableAt":500,"warnAt":400},"totalPerBoard":{"status":"ok","disableAt":3000,"warnAt":2400}},"stickers":{"perCard":{"status":"ok","disableAt":70,"warnAt":56}},"reactions":{"perAction":{"status":"ok","disableAt":900,"warnAt":720},"uniquePerAction":{"status":"ok","disableAt":17,"warnAt":14}}},"memberships":[{"id":"5e93ba98614ac22d22f085c5","idMember":"5e679b808e6e8828784b30e1","memberType":"admin","unconfirmed":false,"deactivated":false}],"subscribed":false,"dateLastView":"2022-02-02T15:51:08.226Z","templateGallery":null,"prefs":{"permissionLevel":"org","hideVotes":false,"voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"hiddenPluginBoardButtons":[],"background":"5e9093e2134e6987494c7ca8","backgroundImage":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/original/2300ad88b61e46629c4063e0095bf986/photo-1586462175816-c0e709898f01","backgroundImageScaled":[{"width":140,"height":93,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/140x93/08d5092270be6b5bb40247b7a7f5a924/photo-1586462175816-c0e709898f01.jpg"},{"width":256,"height":171,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/256x171/08d5092270be6b5bb40247b7a7f5a924/photo-1586462175816-c0e709898f01.jpg"},{"width":480,"height":320,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x320/08d5092270be6b5bb40247b7a7f5a924/photo-1586462175816-c0e709898f01.jpg"},{"[...]
