---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/customFields?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: UTF-8
      string: name=Started&pos=bottom&display_cardFront=true&idModel=5e93ba98614ac22d22f085c4&modelType=board&type=checkbox
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2226.1
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1600187851143'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5f60edcbe0610f8811951cae","idModel":"5e93ba98614ac22d22f085c4","modelType":"board","fieldGroup":"7ae784a6a8a8d5ce76571242f8f5c1d1bd895bc0b1f894d8829b4f3510ff7108","display":{"cardFront":true},"name":"Started","pos":49152,"type":"checkbox","limits":{"customFieldOptions":{"perField":{"status":"ok","disableAt":50,"warnAt":45}}}}'
  recorded_at: Tue, 15 Sep 2020 16:37:31 GMT
recorded_with: VCR 5.1.0
