---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/checklists/5e948a1a9e2cfd0ef6818e89?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2054.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1586875121755'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e948a1a9e2cfd0ef6818e89","name":"Checklist","idCard":"5e946acb3cc40322434c214e","pos":16384,"idBoard":"5e93ba403f1ab3603ba81a09","checkItems":[{"idChecklist":"5e948a1a9e2cfd0ef6818e89","state":"complete","idMember":null,"id":"5e948a1d14d40e501e1163f3","name":"a","nameData":null,"pos":17341,"due":null},{"idChecklist":"5e948a1a9e2cfd0ef6818e89","state":"incomplete","idMember":null,"id":"5e948a1e0ca5fb75b4a03e6d","name":"b","nameData":null,"pos":34521,"due":null}]}'
  recorded_at: Tue, 14 Apr 2020 14:38:41 GMT
- request:
    method: get
    uri: https://api.trello.com/1/cards/5e93ba665c58c44a46cb2ef9?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2054.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1586875122585'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e93ba665c58c44a46cb2ef9","checkItemStates":[],"closed":false,"dateLastActivity":"2020-04-14T14:27:39.528Z","desc":"","descData":null,"dueReminder":null,"idBoard":"5e93ba403f1ab3603ba81a09","idList":"5e93ba4fe51ee2602ec671af","idMembersVoted":[],"idShort":1,"idAttachmentCover":null,"idLabels":[],"manualCoverAttachment":false,"name":"C1","pos":65535,"shortLink":"L3xcFw09","isTemplate":false,"dueComplete":false,"due":null,"email":null,"labels":[],"shortUrl":"https://trello.com/c/L3xcFw09","url":"https://trello.com/c/L3xcFw09/1-c1","cover":{"idAttachment":null,"color":null,"idUploadedBackground":null,"size":"normal","brightness":"light"},"idMembers":[],"badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":true,"fogbugz":"","checkItems":2,"checkItemsChecked":0,"checkItemsEarliestDue":null,"comments":2,"attachments":0,"description":false,"due":null,"dueComplete":false},"subscribed":true,"idChecklists":["5e95c5f3daac161b4347b8d4","5e95c85b88759187b565c632"]}'
  recorded_at: Tue, 14 Apr 2020 14:38:42 GMT
- request:
    method: post
    uri: https://api.trello.com/1/cards/5e93ba665c58c44a46cb2ef9/checklists?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: UTF-8
      string: idChecklistSource=5e948a1a9e2cfd0ef6818e89
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2054.0
      X-Trello-Environment:
      [...]
