---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/customFields/5f60f07958388d26dc063c2d?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2226.1
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1600188561062'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5f60f07958388d26dc063c2d","idModel":"5e93ba98614ac22d22f085c4","modelType":"board","fieldGroup":"946a8bf5cbf4aa84e906edf107579ca653f447bc9ceb8d52374833be09f732fb","display":{"cardFront":true},"name":"Test","pos":65536,"options":[{"id":"5f60f07958388d26dc063c2e","idCustomField":"5f60f07958388d26dc063c2d","value":{"text":"1"},"color":"none","pos":18432},{"id":"5f60f07958388d26dc063c2f","idCustomField":"5f60f07958388d26dc063c2d","value":{"text":"2"},"color":"none","pos":34816}],"type":"list","limits":{"customFieldOptions":{"perField":{"status":"ok","disableAt":50,"warnAt":45}}}}'
  recorded_at: Tue, 15 Sep 2020 16:49:21 GMT
- request:
    method: get
    uri: https://api.trello.com/1/customfields/5f60f07958388d26dc063c2d/options?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2226.1
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1600188561742'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"color":"none","pos":18432,"_id":"5f60f07958388d26dc063c2e","value":{"text":"1"}},{"color":"none","pos":34816,"_id":"5f60f07958388d26dc063c2f","value":{"text":"2"}}]'
  recorded_at: Tue, 15 Sep 2020 16:49:21 GMT
recorded_with: VCR 5.1.0
