---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/5ec146e4f6a9bc121bc5b0b6?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2092.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1589727260097'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5ec146e4f6a9bc121bc5b0b6","name":"IT 99","desc":"testing board
        create","descData":{"emoji":{}},"closed":false,"idOrganization":"5e93ba154634282b6df23bcc","idEnterprise":null,"pinned":false,"url":"https://trello.com/b/RJNghT55/it-99","shortUrl":"https://trello.com/b/RJNghT55","prefs":{"permissionLevel":"private","hideVotes":false,"voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#0079BF","backgroundBottomColor":"#0079BF","backgroundTopColor":"#0079BF","canBePublic":true,"canBeEnterprise":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Sun, 17 May 2020 14:54:20 GMT
- request:
    method: put
    uri: https://api.trello.com/1/boards/5ec146e4f6a9bc121bc5b0b6/?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: UTF-8
      string: name=IT+99&desc=testing+board+create+%28changed%29&closed=false&starred&idOrganization=5e93ba154634282b6df23bcc&prefs%2FpermissionLevel=private&prefs%2FhideVotes=false&prefs%2Fvoting=disabled&prefs%2Fcomments=members&prefs%2Finvitations=members&prefs%2FselfJoin=true&prefs%2FcardCovers=true&prefs%2FisTemplate=false&[...]
