---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/5e7233b06b440f2b93a57b58?fields=desc,pos&key=DEVELOPER_PUBLIC_KEY&members=true&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2052.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1586698220482'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e7233b06b440f2b93a57b58","desc":"","pos":65535,"members":[{"id":"5e679b808e6e8828784b30e1","username":"hoppertest","activityBlocked":false,"avatarHash":null,"avatarUrl":null,"fullName":"Hopper
        Test","idMemberReferrer":null,"initials":"HT","nonPublic":{},"nonPublicAvailable":true}]}'
  recorded_at: Sun, 12 Apr 2020 13:30:20 GMT
recorded_with: VCR 5.1.0
