---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/5e9310df53f23017628a8011?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2052.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1586697585979'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e9310df53f23017628a8011","checkItemStates":[],"closed":false,"dateLastActivity":"2020-04-12T13:18:36.661Z","desc":"","descData":null,"dueReminder":null,"idBoard":"5e70f5bed3f34a49e2f11409","idList":"5e7233a51f3e965484439077","idMembersVoted":[],"idShort":2,"idAttachmentCover":"5e93151deba8456d01eadbbb","idLabels":[],"manualCoverAttachment":true,"name":"test","pos":81919,"shortLink":"Q5kgH5LT","isTemplate":false,"dueComplete":false,"due":"2020-04-26T12:56:00.000Z","email":null,"labels":[],"shortUrl":"https://trello.com/c/Q5kgH5LT","url":"https://trello.com/c/Q5kgH5LT/2-test","cover":{"idAttachment":"5e93151deba8456d01eadbbb","color":null,"idUploadedBackground":null,"size":"normal","brightness":"light","scaled":[{"_id":"5e93151deba8456d01eadbc2","id":"5e93151deba8456d01eadbc2","scaled":false,"url":"https://trello.com/1/cards/5e9310df53f23017628a8011/attachments/5e93151deba8456d01eadbbb/previews/download?backingUrl=https%3A%2F%2Ftrello-attachments.s3.amazonaws.com%2F5e9310df53f23017628a8011%2F70x50%2F77e6f97d19fa56cb77757a9b2d946a41%2Fexcalidraw-202032222926.png","bytes":1821,"height":50,"width":70},{"_id":"5e93151deba8456d01eadbc3","id":"5e93151deba8456d01eadbc3","scaled":false,"url":"https://trello.com/1/cards/5e9310df53f23017628a8011/attachments/5e93151deba8456d01eadbbb/previews/download?backingUrl=https%3A%2F%2Ftrello-attachments.s3.amazonaws.com%2F5e9310df53f23017628a8011%2F250x150%2F77e6f97d19fa56cb77757a9b2d946a41%2Fexcalidraw-202032222926.png","bytes":7466,"height":150,"width":250},{"_id":"5e93151deba8456d01eadbc4","id":"5e93151deba8456d01eadbc4","scaled":true,"url":"https://tre[...]
