---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/checklists/5f526c25f22acb4769d521ef?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2213.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1599241060020'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5f526c25f22acb4769d521ef","name":"C1","idCard":"5e94fd9443f25a7263b165d0","pos":16384,"idBoard":"5e94eaf386374970d06e4c89","checkItems":[{"idChecklist":"5f526c25f22acb4769d521ef","state":"incomplete","id":"5f526c29ad0e796f1e692b1c","name":"a","nameData":null,"pos":17325,"due":null,"idMember":null},{"idChecklist":"5f526c25f22acb4769d521ef","state":"incomplete","id":"5f526c293b45677b3ccf3fb9","name":"b","nameData":null,"pos":33969,"due":null,"idMember":null},{"idChecklist":"5f526c25f22acb4769d521ef","state":"incomplete","id":"5f526c2ace74ea3872160da2","name":"c","nameData":null,"pos":34667,"due":null,"idMember":null},{"idChecklist":"5f526c25f22acb4769d521ef","state":"incomplete","id":"5f526c2e90acf138d198fd64","name":"d","nameData":{"emoji":{}},"pos":51442,"due":null,"idMember":null}]}'
  recorded_at: Fri, 04 Sep 2020 17:37:40 GMT
recorded_with: VCR 5.1.0
