---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/actions/61faa73dd180eb86947af0fd?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.111614.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '375'
      X-Rate-Limit-Member-Remaining:
      - '374'
      X-Server-Time:
      - '1643817797732'
      Content-Type:
      - application/json; charset=utf-8
      Atl-Traceid:
      - '084617945389853c'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"61faa73dd180eb86947af0fd","idMemberCreator":"5e679b808e6e8828784b30e1","data":{"text":"why
        I can''t get action","textData":{"emoji":{}},"card":{"id":"5f4f98b06183211be96855cb","name":"Test
        Trello::Card.create","idShort":6,"shortLink":"JlpJt3gF"},"board":{"id":"5e93ba98614ac22d22f085c4","name":"IT
        2","shortLink":"y1TF9GTa"},"list":{"id":"5e93bac014d40e501ee46b8d","name":"L1"}},"type":"commentCard","date":"2022-02-02T15:46:05.589Z","appCreator":null,"limits":{"reactions":{"perAction":{"status":"ok","disableAt":900,"warnAt":720},"uniquePerAction":{"status":"ok","disableAt":17,"warnAt":14}}},"display":{"translationKey":"action_comment_on_card","entities":{"contextOn":{"type":"translatable","translationKey":"action_on","hideIfContext":true,"idContext":"5f4f98b06183211be96855cb"},"card":{"type":"card","hideIfContext":true,"id":"5f4f98b06183211be96855cb","shortLink":"JlpJt3gF","text":"Test
        Trello::Card.create"},"comment":{"type":"comment","text":"why I can''t get
        action"},"memberCreator":{"type":"member","id":"5e679b808e6e8828784b30e1","username":"hoppertest","text":"Hopper
        Test"}}},"memberCreator":{"id":"5e679b808e6e8828784b30e1","activityBlocked":false,"avatarHash":null,"avatarUrl":null,"fullName":"Hopper
        Test","idMemberReferrer":null,"initials":"HT","nonPublic":{},"nonPublicAvailable":true,"username":"hoppertest"}}'
  recorded_at: Wed, 02 Feb 2022 16:03:17 GMT
recorded_with: VCR 6.0.0
