---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/5e679be5d53dfa748f41d775?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2014.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1583939044101'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e679be5d53dfa748f41d775","badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"checkItemsEarliestDue":null,"comments":0,"attachments":0,"description":false,"due":null,"dueComplete":false},"checkItemStates":[],"closed":false,"dueComplete":false,"dateLastActivity":"2020-03-11T14:51:24.742Z","desc":"","descData":null,"due":null,"dueReminder":null,"email":null,"idBoard":"5e679be40c407034b479459c","idChecklists":[],"idList":"5e679be480d34d521138cab1","idMembers":[],"idMembersVoted":[],"idShort":1,"idAttachmentCover":null,"labels":[],"idLabels":[],"manualCoverAttachment":false,"name":"test","pos":1,"shortLink":"Xaj5SGyo","shortUrl":"https://trello.com/c/Xaj5SGyo","subscribed":false,"url":"https://trello.com/c/Xaj5SGyo/1-test","cover":{"idAttachment":null,"color":null,"idUploadedBackground":null,"size":"normal","brightness":"light"},"isTemplate":false}'
  recorded_at: Wed, 11 Mar 2020 15:04:04 GMT
- request:
    method: get
    uri: https://api.trello.com/1/cards/5e679be5d53dfa748f41d775/customFieldItems?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2014.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1583939048224'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"5e68e8f02f77a28502efd036","value":{"text":"cool"},"idCustomField":"5e68e8e87c16bf75894df21a","idModel":"5e679be5d53dfa748f41d775","modelType":"card"},{"id":"5e68e8de45347e72e8908ebc","value":{"number":"1"},"idCustomField":"5e68e8dbe4af5927555851e4","idModel":"5e679be5d53dfa748f41d775","modelType":"card"},{"id":"5e68e8d14b103f32f9a18b3f","idValue":"5e68e8cf6b440a35fcc12af9","idCustomField":"5e68e8cf6b440a35fcc12af8","idModel":"5e679be5d53dfa748f41d775","modelType":"card"},{"id":"5e68e8b32b690b3c8b01e06d","value":{"date":"2020-03-11T04:00:00.000Z"},"idCustomField":"5e68e8a719213733ccbc16e9","idModel":"5e679be5d53dfa748f41d775","modelType":"card"},{"id":"5e68e885e4baf545ec8ce7ba","value":{"checked":"true"},"idCustomField":"5e68e878a9d31b21dea059a0","idModel":"5e679be5d53dfa748f41d775","modelType":"card"}]'
  recorded_at: Wed, 11 Mar 2020 15:04:10 GMT
- request:
    method: put
    uri: https://api.trello.com/1/card/5e679be5d53dfa748f41d775/customField/5e68e8e87c16bf75894df21a/item?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: UTF-8
      string: value[text]=nice
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2014.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1583939057005'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e68e8f02f77a28502efd036","value":{"text":"nice"},"idCustomField":"5e68e8e87c16bf75894df21a","idModel":"5e679be5d53dfa748f41d775","modelType":"card"}'
  recorded_at: Wed, 11 Mar 2020 15:04:17 GMT
recorded_with: VCR 5.1.0
