---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/customFields/5f60e443555b8432d959ae94?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2224.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1600187550789'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5f60e443555b8432d959ae94","idModel":"5e93ba98614ac22d22f085c4","modelType":"board","fieldGroup":"ac6dae5e75231d8472a407c0af86f871c1c59f3982e4d5a8c8b74af4320c19f8","display":{"cardFront":true},"name":"Finish","pos":32768,"type":"checkbox","limits":{"customFieldOptions":{"perField":{"status":"ok","disableAt":50,"warnAt":45}}}}'
  recorded_at: Tue, 15 Sep 2020 16:32:30 GMT
recorded_with: VCR 5.1.0
