---
http_interactions:
- request:
    method: put
    uri: https://api.trello.com/1/card/5e679be5d53dfa748f41d775/customField/5e68e8e87c16bf75894df21a/item?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: UTF-8
      string: value[text]=cool
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2014.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1583938284789'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e68e8f02f77a28502efd036","value":{"text":"cool"},"idCustomField":"5e68e8e87c16bf75894df21a","idModel":"5e679be5d53dfa748f41d775","modelType":"card"}'
  recorded_at: Wed, 11 Mar 2020 14:51:24 GMT
recorded_with: VCR 5.1.0
