---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/5e679be40c407034b479459c?key=<DEVELOPER_PUBLIC_KEY>&token=<MEMBER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2014.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1583855328243'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e679be40c407034b479459c","name":"ruby-trello","desc":"","descData":null,"closed":false,"idOrganization":null,"idEnterprise":null,"pinned":false,"url":"https://trello.com/b/cHDSP1N4/ruby-trello","shortUrl":"https://trello.com/b/cHDSP1N4","prefs":{"permissionLevel":"private","hideVotes":false,"voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"background":"lime","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#4BBF6B","backgroundBottomColor":"#4BBF6B","backgroundTopColor":"#4BBF6B","canBePublic":true,"canBeEnterprise":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Tue, 10 Mar 2020 15:48:48 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/5e679be40c407034b479459c/lists?filter=open&key=<DEVELOPER_PUBLIC_KEY>&token=<MEMBER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2014.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1583855330448'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"5e679be480d34d521138cab1","name":"Things To Do","closed":false,"idBoard":"5e679be40c407034b479459c","pos":1,"subscribed":false,"softLimit":null},{"id":"5e679be5c6a2957439e0e3f8","name":"Doing","closed":false,"idBoard":"5e679be40c407034b479459c","pos":2,"subscribed":false,"softLimit":null},{"id":"5e679be57812f41deb8466cd","name":"Done","closed":false,"idBoard":"5e679be40c407034b479459c","pos":3,"subscribed":false,"softLimit":null}]'
  recorded_at: Tue, 10 Mar 2020 15:48:51 GMT
recorded_with: VCR 5.1.0
