---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/5e946acb3cc40322434c214e?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2052.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1586788731966'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e946acb3cc40322434c214e","checkItemStates":[],"closed":false,"dateLastActivity":"2020-04-13T14:21:31.438Z","desc":"","descData":null,"dueReminder":null,"idBoard":"5e93ba403f1ab3603ba81a09","idList":"5e93ba4fe51ee2602ec671af","idMembersVoted":[],"idShort":2,"idAttachmentCover":"5e94756a8ed68535838d852d","idLabels":[],"manualCoverAttachment":true,"name":"C2-changed","pos":131071,"shortLink":"JyFUXwxF","isTemplate":false,"dueComplete":false,"due":null,"email":null,"labels":[],"shortUrl":"https://trello.com/c/JyFUXwxF","url":"https://trello.com/c/JyFUXwxF/2-c2-changed","cover":{"idAttachment":"5e94756a8ed68535838d852d","color":null,"idUploadedBackground":null,"size":"normal","brightness":"light","scaled":[{"_id":"5e94756b8ed68535838d854f","id":"5e94756b8ed68535838d854f","scaled":false,"url":"https://trello.com/1/cards/5e946acb3cc40322434c214e/attachments/5e94756a8ed68535838d852d/previews/download?backingUrl=https%3A%2F%2Ftrello-attachments.s3.amazonaws.com%2F5e946acb3cc40322434c214e%2F70x50%2Fb12163ff3c81a632efff145394b7259f%2Ftest.png","bytes":225,"height":50,"width":70},{"_id":"5e94756b8ed68535838d8550","id":"5e94756b8ed68535838d8550","scaled":false,"url":"https://trello.com/1/cards/5e946acb3cc40322434c214e/attachments/5e94756a8ed68535838d852d/previews/download?backingUrl=https%3A%2F%2Ftrello-attachments.s3.amazonaws.com%2F5e946acb3cc40322434c214e%2F250x150%2Fb12163ff3c81a632efff145394b7259f%2Ftest.png","bytes":495,"height":150,"width":250},{"_id":"5e94756b8ed68535838d8551","id":"5e94756b8ed68535838d8551","scaled":true,"url":"https://trello.com/1/cards/5e94[...]
- request:
    method: get
    uri: https://api.trello.com/1/cards/5e946acb3cc40322434c214e/attachments/5e94756a8ed68535838d852d?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2052.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1586788734366'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5e94756a8ed68535838d852d","bytes":969,"date":"2020-04-13T14:21:30.810Z","edgeColor":"#242424","idMember":"5e679b808e6e8828784b30e1","isUpload":true,"mimeType":null,"name":"test.png","previews":[{"id":"5e94756b8ed68535838d854f","_id":"5e94756b8ed68535838d854f","scaled":false,"url":"https://trello.com/1/cards/5e946acb3cc40322434c214e/attachments/5e94756a8ed68535838d852d/previews/download?backingUrl=https%3A%2F%2Ftrello-attachments.s3.amazonaws.com%2F5e946acb3cc40322434c214e%2F70x50%2Fb12163ff3c81a632efff145394b7259f%2Ftest.png","bytes":225,"height":50,"width":70},{"id":"5e94756b8ed68535838d8550","_id":"5e94756b8ed68535838d8550","scaled":false,"url":"https://trello.com/1/cards/5e946acb3c[...]
