---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/lists/5f52526ebda8ea4a96445dbf?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2213.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1599233851763'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5f52526ebda8ea4a96445dbf","name":"L4 - Changed","closed":false,"pos":16383.75,"idBoard":"5e94eaf386374970d06e4c89"}'
  recorded_at: Fri, 04 Sep 2020 15:37:31 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/5e94eaf386374970d06e4c89?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2213.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1599233852470'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e94eaf386374970d06e4c89","name":"IT 3","desc":"","descData":null,"closed":false,"idOrganization":"5e93ba154634282b6df23bcc","idEnterprise":null,"pinned":false,"url":"https://trello.com/b/VLS2p3fb/it-3","shortUrl":"https://trello.com/b/VLS2p3fb","labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"prefs":{"permissionLevel":"org","hideVotes":false,"voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"background":"5e93f31519e59f41122a7f4f","backgroundImage":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/original/38b75fa5aaab2d13a6f8eab4b9016390/photo-1586696037912-43cfc1f854af","backgroundImageScaled":[{"width":140,"height":79,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/140x79/61d1b8df81dfa16a5c3695bbac867ff9/photo-1586696037912-43cfc1f854af.jpg"},{"width":256,"height":144,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/256x144/61d1b8df81dfa16a5c3695bbac867ff9/photo-1586696037912-43cfc1f854af.jpg"},{"width":480,"height":270,"url":"https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x270/61d1b8df81dfa16a5c3695bbac867ff9/photo-1586696037912-43cfc1f854af.jpg"},{"[...]
