---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/hoppertest?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2192.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1597930598051'
      Content-Type:
      - application/json; charset=utf-8
      X-Logging-Id:
      - 7a01fdce-4547-49f0-9059-3b05dad7c9ba
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e679b808e6e8828784b30e1","bio":"ab","bioData":{"emoji":{}},"confirmed":true,"memberType":"normal","username":"hoppertest","aaId":"5e679b1f84dcfc0cf391264e","activityBlocked":false,"avatarHash":null,"avatarUrl":null,"fullName":"Hopper
        Test","idEnterprise":null,"idEnterprisesDeactivated":[],"idMemberReferrer":null,"idPremOrgsAdmin":[],"initials":"HT","nonPublic":{},"nonPublicAvailable":true,"products":[],"url":"https://trello.com/hoppertest","status":"disconnected","aaBlockSyncUntil":null,"aaEmail":null,"aaEnrolledDate":null,"avatarSource":"none","credentialsRemovedCount":0,"domainClaimed":null,"email":"jx4554+test@gmail.com","gravatarHash":"18853624ee4456423b9dbeb0c30559c5","idBoards":["5e679be40c407034b479459c","5e70f5bed3f34a49e2f11409","5e93ba403f1ab3603ba81a09","5e93ba98614ac22d22f085c4","5e94eaf386374970d06e4c89","5e94ee7357ac8a3edc2b2145","5e94f5ded016b22c2437c13c","5ec7e46414a49e3f65847c27","5ee65e305081b1306530df45","5ee65e31325f0d0a10726e6e","5ee65f5fa64d6f2a7aee514c"],"idOrganizations":["5e93ba154634282b6df23bcc","5eb427016b5a464a74803f1c"],"idEnterprisesAdmin":[],"loginTypes":["atlassian"],"marketingOptIn":{"optedIn":true,"date":"2020-03-10T13:52:08.829Z"},"messagesDismissed":[{"_id":"5e93ba17f0caa581d8856a95","name":"team-join-cta-banner-5e93ba154634282b6df23bcc","count":1,"lastDismissed":"2020-04-13T01:02:15.807Z"},{"_id":"5eb4270e982a411bcc25991e","name":"team-join-cta-banner-5eb427016b5a464a74803f1c","count":1,"lastDismissed":"2020-05-07T15:19:42.837Z"}],"oneTimeMessagesDismissed":["create-first-board","close-menu-of-first-board","board-background-prompt","team-template-picker-5e93ba154634282b6df23bcc","your-items-on-home","ad-bc-prompt-upgrade-board-more-collection"],"prefs":{"privacy":{"fullName":"public","avatar":"public"},"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false,"locale":"en-US"},"trophies":[],"uploadedAvatarHash":null,"uploadedAvatarUrl":null,"premiumFeatures":[],"isAaMastered":true,"siftDecision":null,"ixUpdate":"481","limits":{"boards":{"totalPerMember":{"status":"ok","disableAt":4500,"warnAt":4050}},"orgs":{"totalPerMember":{"status":"ok","disableAt":850,"warnAt":765}}}}'
  recorded_at: Thu, 20 Aug 2020 13:36:38 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/5e679b808e6e8828784b30e1/boards?filter=all&key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2192.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1597930598872'
      X-Trello-Actual-Fastget-Path:
      - fast
      Content-Type:
      - application/json; charset=utf-8
      X-Logging-Id:
      - 7a01fdce-4547-49f0-9059-3b05dad7c9ba
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"IT 1 - Changed","desc":"This is a test board called IT 1","descData":{"emoji":{}},"closed":false,"idOrganization":"5eb427016b5a464a74803f1c","idEnterprise":null,"limits":null,"pinned":null,"shortLink":"0zx7ive1","powerUps":[],"dateLastActivity":"2020-06-07T03:44:11.955Z","idTags":[],"datePluginDisable":null,"creationMethod":null,"ixUpdate":null,"enterpriseOwned":false,"idBoardSource":null,"id":"5e93ba403f1ab3603ba81a09","starred":false,"url":"https://trello.com/b/0zx7ive1/it-1-changed","prefs":{"permissionLevel":"org","hideVotes":false,"voting":"org","comments":"members","invitations":"members","selfJoin":false,"cardCovers":false,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"background":"green","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#519839","backgroundBottomColor":"#519839","backgroundTopColor":"#519839","canBePublic":true,"canBeEnterprise":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"subscribed":false,"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"dateLastView":"2020-06-07T07:56:14.734Z","shortUrl":"https://trello.com/b/0zx7ive1","templateGallery":null,"premiumFeatures":[],"memberships":[{"id":"5e93ba403f1ab3603ba81a0a","idMember":"5e679b808e6e8828784b30e1","memberType":"admin","unconfirmed":false,"deactivated":false},{"id":"5ec15679fbc17b8eacec69ce","idMember":"557a84544757401c6fc036f7","memberType":"normal","unconfirmed":false,"deactivated":false}]},{"name":"IT
        100","desc":"","descData":null,"closed":false,"idOrganization":"5e93ba154634282b6df23bcc","idEnterprise":null,"limits":null,"pinned":null,"shortLink":"GkoW5NpN","powerUps":[],"dateLastActivity":"2020-06-14T17:28:16.166Z","idTags":[],"datePluginDisable":null,"creationMethod":null,"ixUpdate":null,"enterpriseOwned":false,"idBoardSource":"[...]
