---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/lists/5e93ba4fe51ee2602ec671af?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2213.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1599185743063'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e93ba4fe51ee2602ec671af","name":"L1","closed":false,"pos":65535,"idBoard":"5e93ba403f1ab3603ba81a09"}'
  recorded_at: Fri, 04 Sep 2020 02:15:43 GMT
recorded_with: VCR 5.1.0
