---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/notifications/5fa890adbf71bd13269ffdc5?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2278.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1604890137125'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5fa890adbf71bd13269ffdc5","type":"mentionedOnCard","date":"2020-11-09T00:43:25.387Z","data":{"board":{"id":"5e93ba403f1ab3603ba81a09","name":"IT
        1 - Changed","shortLink":"0zx7ive1"},"card":{"id":"5e93ba665c58c44a46cb2ef9","name":"C1","idShort":1,"shortLink":"L3xcFw09"},"text":"@hoppertest
        Hi"},"appCreator":null,"idMemberCreator":"557a84544757401c6fc036f7","idAction":"5fa890adbf71bd13269ffdb4","isReactable":true,"unread":true,"dateRead":null,"reactions":[],"memberCreator":{"id":"557a84544757401c6fc036f7","username":"wokenqingtian","activityBlocked":false,"avatarHash":null,"avatarUrl":null,"fullName":"Hopper
        Gee","idMemberReferrer":null,"initials":"HG","nonPublic":{},"nonPublicAvailable":true}}'
  recorded_at: Mon, 09 Nov 2020 02:48:57 GMT
recorded_with: VCR 5.1.0
