---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/organizations/5e93ba154634282b6df23bcc?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2224.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1600181900307'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e93ba154634282b6df23bcc","name":"integrationtest11","displayName":"Integration
        Test 1","descData":null,"website":null,"teamType":"engineering-it","desc":"This
        is a team for doing integration tests","url":"https://trello.com/integrationtest11","logoHash":null,"logoUrl":null,"products":[],"powerUps":[]}'
  recorded_at: Tue, 15 Sep 2020 14:58:20 GMT
recorded_with: VCR 5.1.0
