---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/tokens/MEMBER_TOKEN?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN&webhooks=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2278.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1604888853179'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e679ea23b9ddc07a50b3dcc","identifier":"Server Token","idMember":"5e679b808e6e8828784b30e1","dateCreated":"2020-03-10T14:05:22.993Z","dateExpires":null,"permissions":[{"idModel":"5e679b808e6e8828784b30e1","modelType":"Member","read":true,"write":true},{"idModel":"*","modelType":"Board","read":true,"write":true},{"idModel":"*","modelType":"Organization","read":true,"write":true}],"webhooks":[{"id":"5fa8a17ed7b1e75dc4f8da4b","description":"test","idModel":"5e946acb3cc40322434c214e","callbackURL":"https://example.com/webhook/trello_callbacks","active":true,"consecutiveFailures":0,"firstConsecutiveFailDate":null}]}'
  recorded_at: Mon, 09 Nov 2020 02:27:33 GMT
recorded_with: VCR 5.1.0
