---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/webhooks/5fa8a1e0009b2a6a669e6efa?key=DEVELOPER_PUBLIC_KEY&token=MEMBER_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.2278.0
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1604887352812'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5fa8a1e0009b2a6a669e6efa","description":"test","idModel":"5fa759f1564c6e5bb803c61e","callbackURL":"https://example.com/webhook/trello_callbacks","active":true,"consecutiveFailures":0,"firstConsecutiveFailDate":null}'
  recorded_at: Mon, 09 Nov 2020 02:02:33 GMT
recorded_with: VCR 5.1.0
